h2 {
  padding: 0px;
}

button.request-assets-btn, button.request-assets-btn-li {
  all: unset;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  height: auto;
  min-width: 30%;
  padding: 0px 4px;
  background:white;
  color:rgb(14, 14, 75);
  border: solid 1px #1f253d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3x;
  border-radius: 3px;
}

button.request-assets-btn-li {
  align-self: flex-end;
  width: 100%;
  padding: 0px;
  background:rgb(14, 14, 75);
  color: white;
}

button.request-assets-btn-li:hover {
  background: rgb(83, 134, 60);
  color: white;
}

li.with-btns {
  display: flex;
  flex-direction: column;
}

ul{
  list-style-type: none;
}

.status ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0px;
  background-color: white;
  color:  rgb(14, 14, 75);
  border: 2px rgb(14, 14, 75) solid;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2x;
  border-radius: 2px;
} 

.status li{
  background-color: white;
  color:  rgb(14, 14, 75);
  min-width: 24%;
  padding: 10px;
  margin: 5px 1px;
  border: 1px rgb(83, 134, 60) solid;
}

@media screen and (max-width: 600px){
  .status ul {
    flex-direction: column;
    align-content: center;
  } 
  .status li {
    width: 75%;
  }
}

@media screen and (max-width: 1024px){
  .status li {
    min-width: 33%;
  }
}

@media screen and (max-width: 800px){
  .status li {
    min-width: 49%;
  }
}