input, button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px 0px;
  height: 40px;
  width: 100%;  
  background:white;
  color: rgb(14, 14, 75);
  font-size: 16px;
  font-weight: bold;
  border: solid 1px  rgb(14, 14, 75);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.form-input {
  all: unset;
  padding-left: 0px;
}

button {
  margin-top: 30px;
  width: 50%;
  height: 30px;
  align-self: center;
}

button:hover {
  background-color: rgb(14, 14, 75);
  color: white;
}

.text-center {
  text-align: center;
}



