button.logout {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100%;  
  background:rgba(160, 169, 179, 0.973);
  color: white;
  font-size: 16px;
  border: solid 1px #1f253d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}